[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mail2vks
[access "refs/for/refs/*"]
	read = group user/mail2vks
	push = group user/mail2vks
	label-Code-Review = -2..+2 group user/mail2vks
	label-Verified = -1..+1 group user/mail2vks
	rebase = group user/mail2vks
	removeReviewer = group user/mail2vks
	submit = group user/mail2vks
[access "refs/heads/*"]
	read = group user/mail2vks
	create = group user/mail2vks
	push = +force group user/mail2vks
	pushMerge = group user/mail2vks
[access "refs/tags/*"]
	push = +force group user/mail2vks
	pushTag = group user/mail2vks
	pushSignedTag = group user/mail2vks
